.coin-details {
  padding: 2rem 5rem;
  font-family: "Barlow", sans-serif;
}

.coin-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5rem;
}

.upper-row {
  display: flex;
  flex-direction: row;
}
.bottom-row {
  display: flex;
  flex-direction: row;
}
.coin-header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.coin-image {
  padding-right: 1rem;
  width: 2rem;
  height: 2rem;
}
.coin-name {
  font-size: 2rem;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
}
