.header {
  background-color: #f2f2f2;
  border-bottom: 1px solid rgba(88, 88, 88, 0.58);
  border-left: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  #search {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 30%;
    background: url("/src/img/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    // background-size: 1;
  }
  .search-btn {
    border: none;
    border-radius: 2rem;
  }
}
