.header {
  background-color: #f2f2f2;
  border-bottom: 1px solid rgba(88, 88, 88, 0.58);
  border-left: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header #search {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 30%;
  background: url("/src/img/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.header .search-btn {
  border: none;
  border-radius: 2rem;
}

.coin-list {
  width: 20%;
  padding-top: 2rem;
  box-sizing: border-box;
  box-sizing: content-box;
  list-style: none;
}
.coin-list ul {
  list-style: none;
}

.preview-coin {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 1rem 2rem;
  border-bottom: 1px solid black;
  color: #000;
  text-decoration: none;
  list-style: decimal;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.preview-coin__title {
  padding: 0 2rem 0 1rem;
  width: 30%;
}
.preview-coin__name {
  padding-left: 1rem;
  width: 70%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  width: 100%;
  height: 100%;
  margin: 0;
}

#coin-chart {
  padding: 0;
  margin: 0;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}
@media (min-width: 1050px) {
  #coin-chart {
    height: 25rem !important;
    transform: translateX(5%);
  }
}
@media (min-width: 1200px) {
  #coin-chart {
    height: 30rem !important;
    transform: translateX(5%);
  }
}
@media (min-width: 1600px) {
  #coin-chart {
    height: 35rem !important;
    transform: translateX(5%);
  }
}
@media (min-width: 1920px) {
  #coin-chart {
    height: 40rem !important;
    transform: translateX(5%);
  }
}
@media (min-width: 2100px) {
  #coin-chart {
    height: 40rem !important;
    transform: translateX(20%);
  }
}

canvas {
  padding-top: 1rem !important;
}

.coin-chart-wrapper {
  display: block;
  flex-direction: column;
  justify-content: center !important;
  text-align: center !important;
}

.coin-details {
  padding: 2rem 5rem;
  font-family: "Barlow", sans-serif;
  width: 70%;
  height: 100%;
}

.coin-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5rem;
}

.upper-row {
  display: flex;
  flex-direction: row;
}

.bottom-row {
  display: flex;
  flex-direction: row;
}

.coin-header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.coin-image {
  padding-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.coin-name {
  font-size: 2rem;
  font-family: "Russo One", sans-serif;
  font-weight: 100;
}

.coin-current-price {
  padding-left: 1rem;
}

.coin-marketcap {
  transform: translateX(20%);
}

.coin-volume {
  transform: translateX(50%);
}

.coin-description {
  text-align: justify;
  width: 80%;
  transform: translateX(10%);
  text-decoration: none !important;
  font-size: 1rem !important;
}

.description-title {
  font-size: 2rem;
  padding: 1rem 0;
  font-family: "Raleway", sans-serif;
}

.description-text {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  color: #000000;
}
.description-text a {
  color: #000000;
  text-decoration: none;
}

.error {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  width: 900px;
  height: 350px;
  border-radius: 20px;
  background-color: #fbfbfb;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  margin-top: 200px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #7e7e7e;
}
.error div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
}
.error img {
  width: 4rem;
  padding-right: 3rem;
}
.error .close-error {
  background-image: url("../img/close.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  border: none;
  position: absolute;
  right: 1.2rem;
  top: 1rem;
}
.error .close-error:hover {
  cursor: pointer;
  scale: 0.96;
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  content: "";
  pointer-events: none;
  z-index: 100;
  opacity: 0.5;
}

* {
  margin: 0;
}/*# sourceMappingURL=main.css.map */